@using System.Web.Optimization
<!DOCTYPE html>

<!-- HTML5 Boilerplate -->

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- Replaced default html tag-- >
<!-- <html lang="en"> -->

<head>
    <meta charset="utf-8" />

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
    <title>Code Camper</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
    
    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="busyindicator"></div>

    <header>
        <h1>Code Camper</h1>
        <nav id="shellTop-view" class="main-nav">
            <div class="accent-top" data-bind="text: currentUser().fullName"></div>
            <div class="accent-left"></div>
            <ul data-bind="if: $data">
                <li class="route-top"><a href="#/favorites">Favorites</a></li>
                <li class="route-top"><a href="#/sessions">Sessions</a></li>
                <li class="route-top"><a href="#/speakers">Speakers</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main">
        
        @RenderPage("Views/favorites.cshtml")
        @RenderPage("Views/speakers.cshtml")
        @RenderPage("Views/sessions.cshtml")
        @RenderPage("Views/session.cshtml")
        @RenderPage("Views/speaker.cshtml")

    </section>
    
    <!-- JavaScript at the bottom for fast page loading -->

    <!--
    Good rule of thumb is to load in this sequence:
    1) shivs and jQuery
    2) 3rd party libraries
    3) require.js
    4) your app libraries
    5) main.js (if using require.js)
    -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
@*    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="scripts/lib/jquery-1.7.2.min.js"><\/script>')</script>*@
    @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs", 
        "~/Scripts/lib/require.js", 
        "~/bundles/jsapplibs",
        "~/bundles/jsmocks",
        "~/Scripts/main.js"
    )

    <!-- scripts concatenated and minified via build script -->
    <!-- Now we grab the 3rd party libraries, some of which depend on jquery. 
        Others we need before we depend on them later -->
@*    @Scripts.Render("~/bundles/jsextlibs")

    @Scripts.Render("~/Scripts/lib/require.js");*@

    @*<script src='@Scripts.Url("~/Scripts/lib/require.js")' type="text/javascript"></script>*@

    <!-- Load the custom libraries for our app before we run main.js which kicks off bootstrapper -->
@*    @Scripts.Render("~/bundles/jsapplibs")

    @Scripts.Render("~/bundles/jsmocks")

    <script src='@Scripts.Url("~/Scripts/main.js")' type="text/javascript"></script>*@
    <!-- end scripts -->

</body>
</html>