@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Code Camper</title>
    @Styles.Render("~/Content/css")
    
    @Styles.Render("~/Content/less")
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="busyindicator"></div>

    <header>
        <h1>Code Camper</h1>
        <nav id="shellTop-view" class="main-nav">
            <div class="accent-top" data-bind="text: currentUser().fullName"></div>
            <div class="accent-left"></div>
            <ul data-bind="if: $data">
                <li class="route-top"><a href="#/favorites">Favorites</a></li>
                <li class="route-top"><a href="#/sessions">Sessions</a></li>
                <li class="route-top"><a href="#/speakers">Speakers</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main">
        
        @RenderPage("Views/favorites.cshtml")
        @RenderPage("Views/speakers.cshtml")
        @RenderPage("Views/sessions.cshtml")
        @RenderPage("Views/session.cshtml")
        @RenderPage("Views/speaker.cshtml")

    </section>
    
    @Scripts.Render("~/bundles/jsextlibs")

    <script src="~/Scripts/lib/require.js" type="text/javascript"></script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>

</body>
</html>