@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--
        No need for these since we use ASP.NET bundling/minification. 
        In debug mode true, there is no bundling/min. 

        <link rel="stylesheet" type="text/css" href="Content/jquery.wijmo-complete.all.2.1.2.min.css" />
        <link rel="stylesheet" type="text/css" href="Content/toastr.css" />
        <link rel="stylesheet" type="text/css" href="Content/toastr-responsive.css" />
        
        <link rel="stylesheet" href="~/content/styles.less" />
    -->
    
    @Scripts.Render("~/bundles/json2", "~/bundles/modernizr")

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/less")



    <title>Code Camper</title>
</head>
<body>
    <div id="busyindicator"></div>

    <header>
        <h1>Code Camper</h1>
        <nav id="shellTop-view" class="main-nav">
            <div class="accent-top" data-bind="text: currentUser().fullName"></div>
            <div class="accent-left"></div>
            <ul data-bind="if: $data">
                <li class="route-top"><a href="#/favorites">Favorites</a></li>
                <li class="route-top"><a href="#/sessions">Sessions</a></li>
                <li class="route-top"><a href="#/speakers">Speakers</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main">
        
        @RenderPage("Views/favorites.cshtml")
        @RenderPage("Views/speakers.cshtml")
        @RenderPage("Views/sessions.cshtml")
        @RenderPage("Views/session.cshtml")
        @RenderPage("Views/speaker.cshtml")

    </section>
    <script data-main="Scripts/main.js" src="Scripts/require.js"></script>

</body>
</html>